body{
  background-color: rgb(246, 247, 237);
}
a{
  cursor:pointer
}
.form-input{
  position: relative;
}

.form-button{
  position: absolute;
  top: 40px;
  right: 0;
}

.strict {
  line-break: strict;
}